@import "./assets/sass/media-queries";

.content {
  background: var(--divider);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  .sidebar {
    flex: 0 0 25rem;
    padding: 0 2rem 2rem 2rem;
    select {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 0.3rem;
      background: var(--light);
      border: 0;
      outline: 0;
      padding: 1rem;
      box-shadow: var(--box-shadow);
      font-size: 1.1rem;
    }
    .categories {
      padding: 2rem;
      background: var(--primary);
      border-radius: 0.3rem;
      box-shadow: var(--box-shadow);
      li {
        width: max-content;
        padding: 0.5rem;
        transition: color 0.2s;
        &:hover {
          cursor: pointer;
          color: var(--hover-color);
          strong {
            color: var(--light);
          }
        }
      }
      .active {
        font-weight: 700;
        color: var(--light);
        font-weight: bold;
        strong {
          color: var(--light);
        }
      }
    }
  }
  .articles-container {
    max-width: 80rem;
    flex: 1;
    margin: 0 0 10rem 0;
    .article {
      box-shadow: var(--box-shadow);
      background: var(--light);
      padding: 0 5rem;
      @include xs {
        padding: 0 2rem;
      }
      border-radius: 0.3rem;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin-top: -3rem;
      }
      h2 {
        margin: 2rem;
        margin-bottom: 0;
      }
      .article-author {
        color: var(--hint);
        margin-bottom: 3rem;
      }
      .article-content {
        max-width: 60rem;
        white-space: pre-line;
      }
      .article-action {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0;
        margin-top: 2rem;
        border-top: 1px solid var(--divider);
        .btn {
          margin-left: 1rem;
        }
      }
    }
  }
}
