@import "./media-queries";

.title {
  &-underline {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--divider);
    @include xs {
      font-size: 2rem;
    }
  }
}

.btn {
  border: 0;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  @include xs {
    font-size: 0.9rem;
  }
  cursor: pointer;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.2s;
  }
  &-primary {
    background: var(--primary);
    color: var(--light);
  }
  &-secondary {
    border: 1px solid var(--primary);
    background: var(--light);
    color: var(--primary);
  }
  &-danger {
    border: 1px solid var(--error);
    background: var(--light);
    color: var(--error);
  }
}

.text {
  &-error {
    color: var(--error);
    font-size: 1.5rem;
    font-weight: 700;
  }
}
